node_modules/**
!node_modules/prismjs/**
!node_modules/dom-to-image-even-more/dist/**
.vscode/**
.vscode-test/**
out/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
